<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/taxi.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Follow
  </a>
</nav>
<div class="container padnav">
  <div class="row">
    <div class="col-md-8">
      <h4>Siguiendo a: <strong class="text-primary">{{usuario_seleccionado.nombre}}</strong> </h4>
      <!--mapa-->

      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" [mapTypeControl]="true">
        <agm-marker
        *ngFor="let usuario of usuarios"
        [latitude]="usuario.lat"
        [longitude]="usuario.lng"
        [label]="usuario.nombre">
      </agm-marker>
      </agm-map>

    </div><!--sm-8-->

    <div class="col-md-4">
      <h4>Taxistas</h4>
      <p>Seleccione para seguir</p>
      <ul class="list-group">
        <li class="list-group-item puntero"
            (click)="seguir_usuario( usuario )"
            [ngClass]="{'active': usuario.active}"
            *ngFor="let usuario of usuarios">
          {{usuario.nombre}}
        </li>
      </ul>
      <br>
      <button type="button" class="btn btn-primary btn-block"
              (click)="dejar_seguir()">
        Dejar de seguir
      </button>

    </div><!--sm-4-->
  </div>
</div>
